.AboutView {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: ghostwhite;
    height: 80vh;
    overflow: scroll;
}

.AboutView a {
    color: rgb(2, 15, 83);
    cursor: pointer;
}


@media only screen and (max-width:1024px){ 
    .AboutView {
        padding-bottom: 100px;
    }   
}