.Wrapper {
    display: flex;
    flex-direction: column;
    background: ghostwhite;
    width: 80%;
}


@media only screen and (max-width:1024px){
    .Wrapper {
        width: 100%;
    }
}


/* background: rgb(236, 236, 236); */