.OverallView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: scroll;
    background: #f8f8ff;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 50px;
}